
body {
  color: white;
  width: 100%;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  background: url('http://www.casino-sidan.se/images/background.jpg') no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 40%;
}
button {
  background-color: blue;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  width: 55px;
  height: 55px;
  border: 1px solid white;
}
.hit-button {
  background-color: green;
}
.stand-button {
  background-color: red;
}
button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 3px solid black;
}

.card {
  float: left;
  border: solid 2px black;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}
.player-hand-container {
  margin-top: 50px;
}
.dealer-hand-container {
  margin-top: 150px;
}

.covered {
  content: url('../img/card-back.png');
}

.hand {
  overflow: auto;
}


